//Used to create dynamic name for keyframes
@mixin keyframes($animName) {
  @keyframes #{$animName} {
    @content;
  }
}

@mixin shake($animName, $delay: 0s) {
  @include keyframes($animName) {
    0% {
      transform: translateX(0);
    }
    0.5% {
      transform: translateX(-5px);
    }
    1% {
      transform: translateX(5px);
    }
    1.5% {
      transform: translateX(-5px);
    }
    2% {
      transform: translateX(5px);
    }
    2.5% {
      transform: translateX(-5px);
    }
    3% {
      transform: translateX(5px);
    }
    3.5% {
      transform: translateX(-5px);
    }
    4% {
      transform: translateX(5px);
    }
    4.5% {
      transform: translateX(-5px);
    }
    5% {
      transform: translateX(0);
    }
  }
  animation: $animName 9s forwards infinite ease-in-out;
  animation-delay: $delay;
}

.dot1 {
  @include shake(dot1, 0);
}

.dot2 {
  @include shake(dot2, 3s);
}

.dot3 {
  @include shake(dot3, 6s);
}
